* {
    box-sizing: border-box;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  font-color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  
}
/** HEADER **/
#header-nav {
  background-color: ##B7B6B1;
  border-radius: 0;
  border: 0;
  border-bottom-style: solid;
  border-bottom-width:3px;
  }
#nav-list > li {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width:3px;
    background-color: #FFFFFF;
    
}
div section {
    margin: 10px;
    padding: 10px;
}
#section-1 {
    background-color: #FFE4B5;
}
#section-2 {
    background-color: #FFA07A;
}
#section-3 {
    background-color: #7FFFD4;
}
#text > h3 {
    margin-bottom: 15px;
}
#header-nav .navbar-brand {
    position: absolute;
    left: 10px;
}

